body {
   margin: 0;
   padding: 0;
   width: 100wh;
   height: 100vh;
}


.coolSite {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 15%;
    background-color: blue;
}

 main {
   width: 100%;
   height: 70%;
    background-color: rgb(246, 246, 54);
 }

 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }



 .item-side {
    background-color:red;
    width: 20%;
 }

.super-container {
   background-color: gray;
   width: 60%;
   display: flex;
   flex-direction: column;
   align-content: stretch;
}

 .item-container {
    background-color:darkgreen;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 }

 .item {
   border: 1px solid #ccc;
   padding: 80px;
   background-color: blueviolet;
 }

.item-nocontainer {
   background-color:rgb(243, 247, 20);
   height: 50%;
}


footer {
   background-color: orange;
   width: 100%;
   height: 15%;
}